# Build output
build/

# Compiled binaries
*.exe
*.obj
*.o
*.out

# Clangd cache
.cache/

# Generated compile commands
compile_commands.json

# VS Code settings
.vscode/
.cache/clangd/index/main.cpp.57DA9117BDA69699.idx
